.hexagon {
    position: absolute;
    width: 80%;
    height: 80%;
    fill: none;
    stroke: #ffffff;
    stroke-width: 4;
    stroke-linejoin: round;
}

.ring {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ring circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 4;
    stroke-linecap: round;
    transform-origin: center;
    animation: 
    rotate-animation 2s linear infinite,
    dash-animation 1.5s ease-in-out infinite;
}

@keyframes rotate-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes dash-animation {
    0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
    }
    50% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: -35;
    }
    100% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: -138;
    }
}
/**/
